target/
**/target/
**/target/**

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/



*.classpath
*.class
*.prefs
*.jar
*.lst
*.project
*.factorypath
*.original

.settings/
.apt_generated
.sts4-cache
.springBeans

bin
.vscode
.idea

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


# Ignore Gradle build output directory
**/build
build
*/[Bb]in/
node_modules
